################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JBOT.Infrastructure/Databases/JbotDatabase_log.ldf
